.login {
	display: flex;
	align-items: center;
	justify-content: center;
	line-height: 1.5;
	min-height: 100vh;
	flex-direction: column;
	margin: 0;
	background: #FAF9F6;
	color:black;
	font-family: "Times New Roman", Times, serif;

	div.main {
		background-color: #fafaf7;
		border-radius: 15px;
		box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
		padding: 10px 20px;
		transition: transform 0.2s;
		width: 500px;
		text-align: center;
	}

	h1 {
		color: #9E2D00;
		font-weight: 900;
		font-size: 2.25em;
		text-decoration: underline;
		text-underline-offset: 5px;
	}

	label {
		display: block;
		width: 100%;
		margin-top: 10px;
		margin-bottom: 5px;
		text-align: left;
		color: #555;
		font-weight: bold;
	}

	input {
		display: block;
		width: 100%;
		margin-bottom: 15px;
		padding: 10px;
		box-sizing: border-box;
		border: 1px solid #ddd;
		border-radius: 5px;
	}

	button {
		padding: 12px;
		border-radius: 10px;
		margin-top: 15px;
		margin-bottom: 15px;
		border: none;
		color: #fafaf7;
		cursor: pointer;
		background-color: #9E2D00;
		width: 100%;
		font-size: 16px;
		height: auto;
	}

	.wrap {
		display: flex;
		justify-content: center;
		align-items: center;
	}
}
