body {
	background: #FAF9F6;
	color:black;
	margin-left: 15px;
	margin-right: 30px;
	font-family: "Times New Roman", Times, serif;
}

h2 {
	margin-bottom: 10px;
}



.form-element {
	float: left;
}

label {
	margin-right: 20px;
	font-weight: bold;
}

input, select {
	min-height: 20px;
	margin-top: 5px;
	margin-right: 20px;
	background: #FCFBFA;
	border: 2px solid black;
	border-radius: 0;
	font-size: 1em;
	font-family: "Times New Roman", Times, serif;
}

#TDdescription {
	width: 250px;
}

#TDdate {
	width: 110px;
}

button {
	white-space: pre-wrap;
	margin-top: 11px;
	height: calc(12.5px + 22.5px)
}



.urgent {
	background-color: rgba(205, 92, 92, 0.75);
}

.high {
	background-color: rgba(255, 160, 122, 0.75);
}

.medium {
	background-color: rgba(255, 217, 0, 0.45);
}

.low {
	background-color: lightgoldenrodyellow;
}



table#sortedList {
	text-align: center;
	border-spacing: 0px 1px;
	background-color: black;
	width: 100%;
}

tr {
	background-color: #FAF9F6;
	height: 50px;
}

th {
	border: 3px solid none;
	border-bottom: 3px solid black;
	font-size: large;
}

p.header-row {
	display: block;
  font-size: 1.17em;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

td {
	border: 3px solid #FAF9F6;
	font-size: large;
}

.TDdescription {
	width: 40%;
}

th.edit-col, td.edit-col, th.del-col, td.del-col {
	width: 7.5%;
	cursor: pointer;
}

.edit-btn, .delete-btn {
	font-weight: 900;
	user-select: none;
}

p#editing-p {
	margin-bottom: 0;
}

.editing {
  animation: blinker 1.5s ease-in-out infinite;
}

@keyframes blinker {
  50% {
    opacity: 0.15;
  }
}
